<!DOCTYPE html>
<html>
    <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  @using ParcelCalc.Models;
  @using ParcelCalc.Controllers;
    <p>The cost of your package will be: @Model</p>
  </body>
</html>