  
<!DOCTYPE html>
<html>
  <head>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Parcels</h1>
    <p>Fill out the following dimensions</p>
    <form class="jumbotron" action="/second" method="post">
     <label for="length">Enter the Length of the Package:</label>
     <input id="length" name="length" type="text">

     <label for="width">Enter the Width of the Package:</label>
     <input id="width" name="width" type="text">

     <label for="height">Enter Height of Package:</label>
     <input id="height" name="height" type="text">

     <button type="submit">Get your price</button>
    </form>
  </body>
</html>
